
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org">
				
     <th:block th:include="~{/fragments/head}"></th:block>   
        
<body>

	<th:block th:include="~{/fragments/user-header}"></th:block>

<main>
    <div class="container">
        <div class="text-center bg-blur">
            <h1>Hero</h1>
            <div>
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="align-middle">[[${myHero.name}]]</h3>
                    </div>
                    <div class="col-md-2">
                        <h3 class="align-middle">[[${myHero.level}]]</h3>
                    </div>
                    <div class="col-md-5">
                     <th:block th:if="${#lists.contains(mySlots,'HELMET')}"> 
                        	<img src="/img/helmet.jpg" class="mr-5 mb-1" width="100"
                            	 height="150">
                        </th:block>    
                         <th:block th:unless="${#lists.contains(mySlots,'HELMET')}"> 
                        	<img class="mr-5 mb-1" width="100"
                            	 height="150">
                        </th:block> 	        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                      	<img th:src="'/img/' + ${myHero.gender.toString()} + '.jpg'" alt="photo" class="align-middle" height="175"
                           width="150"/>
                    </div>
                    <div class="col-md-2">
                        <p class="align-content-center">Strength - [[${myHero.strength}]]</p>
                        <p class="align-content-center">Stamina - [[${myHero.stamina}]]</p>
                        <p class="align-content-center">Attack - [[${myHero.attack}]]</p>
                        <p class="align-content-center">Defence - [[${myHero.defence}]]</p>
                    </div>
                    <div class="col-md-5">
                     <th:block th:if="${#lists.contains(mySlots,'WEAPON')}"> 
                        	<img src="/img/weapon.jpg" width="100" height="150">
                        </th:block>    
                         <th:block th:unless="${#lists.contains(mySlots,'WEAPON')}"> 
                        	<img width="100" height="150">
                        </th:block> 	
                        <th:block th:if="${#lists.contains(mySlots,'PAULDRON')}"> 
                        	<img src="/img/pauldron.jpg" width="100"
                            	 height="150">
                        </th:block>    
                         <th:block th:unless="${#lists.contains(mySlots,'PAULDRON')}"> 
                        	<img width="100" height="150">
                        </th:block> 	                       
                         <th:block th:if="${#lists.contains(mySlots,'GAUNTLET')}"> 
                        	<img src="/img/gauntlet.jpg" class="mr-5" width="100" height="150">
                        </th:block>    
                         <th:block th:unless="${#lists.contains(mySlots,'GAUNTLET')}"> 
                        	<img class="mr-5" width="100" height="150">
                        </th:block> 	 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-5">
    				    <th:block th:if="${#lists.contains(mySlots,'PADS')}"> 
                        	<img src="/img/pads.jpg" class="mr-5" width="100"
                            	 height="150">
                        </th:block>    
                         <th:block th:unless="${#lists.contains(mySlots,'PADS')}"> 
                        	<img class="mr-5" width="100" height="150">
                        </th:block> 	
                    </div>
                </div>
            </div>
        </div>
</main>
    
    <th:block th:include="~{fragments/footer}"></th:block>
    
</body>
</html>