
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org">
				
    <th:block th:include="~{/fragments/head}"></th:block>
       
<body>

	<th:block th:include="~{fragments/user-header}"></th:block>
	
<main class="container">
    <h1 class="text-center">Merchant</h1>
    <hr class="hr-3"/>
    <table class="table bg-blur">
        <thead>
        <tr>
            <th scope="col" class="font-weight-bold">Name</th>
            <th scope="col">Slot</th>
            <th scope="col">Stamina</th>
            <th scope="col">Strength</th>
            <th scope="col">Attack</th>
            <th scope="col">Defence</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="item : ${items}">
	        <tr>
	            <td>[[${item.name}]]</td>
	            <td>[[${item.slot}]]</td>
	            <td>[[${item.stamina}]]</td>
	            <td>[[${item.strength}]]</td>
	            <td>[[${item.attack}]]</td>
	            <td>[[${item.defence}]]</td>
	            <td>
	                <form th:action="@{/items/merchant/} + ${item.name}" method="post">
	                <button class="btn btn-info">Buy</button>
	                </form>
	            </td>
	        </tr>
        </th:block>
        </tbody>
    </table>
</main>

    <th:block th:include="~{/fragments/footer}"></th:block>
    
</body>
</html>