
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org">
     
<th:block th:include="fragments/head"></th:block> 
     
<body>

<th:block th:include="fragments/user-header-with-hero"></th:block>

<main>
    <div class="text-center mb-3">
        <h4 class="text-white mt-2">Welcome to the arena, <span th:text= "${username}"></span></h4>
    </div>
    <hr class="my-3"/>
    <div class="container">
        
        <div class="text-center">
            <h2>User, you have a hero. Buy items to make your hero stronger and later join the battle.</h2>
        </div>
    </div>
</main>

<th:block th:include="fragments/footer"></th:block>
   
</body>
</html>
