
<!DOCTYPE html>
<html   lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
        
   <th:block th:include="~{fragments/head}"></th:block>
<body>

 <th:block th:include="~{fragments/header}"></th:block>
<main>
   <th:block th:if="${session.user != null && session.hero == null}">
	    <div class="text-center mb-3">
	        <h4 class="text-white mt-2">Welcome to the arena, [[${session.user.username}]]</h4>
	    </div>
	    	<hr class="my-3"/>
	    <div class="container">
        <div class="text-center">
            <h2>User, you don't have a hero. Click below and create one.</h2>
            <a th:href="@{/heroes/create}" class="btn btn-secondary">Create hero</a>
        </div>
    </div>
   </th:block>
   
   <th:block th:if="${session.user != null && session.hero != null}">
	    <div class="text-center mb-3">
	        <h4 class="text-white mt-2">Welcome to the arena, [[${session.user.username}]]</h4>
	    </div>
	    <hr class="my-3"/>
	    <div class="container">
	        <div class="text-center">   
                <div class="row flex-md-row">
                  <th:block th:each="hero : ${allHeroes}">      
                    <div class="col text-center">
                        <img th:src="'/img/' + ${hero.gender} + '.jpg'" width="150">
                        <h2 class="text-white">[[${hero.name}]]</h2>
                        <a class="btn btn-secondary" th:href="'/heroes/fight/' + ${hero.name}">Fight</a>
                    </div>
                   </th:block>
                </div>
	        </div>
	    </div>
   </th:block>
</main>
 <th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>
