
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org">

 <th:block th:include="~{fragments/head}"></th:block>
       
<body>

	<th:block th:include="~{fragments/user-header-with-hero}"></th:block>

<main class="container">
    <h1 class="text-center">Merchant</h1>
    <hr class="hr-3"/>
    <table class="table bg-blur">
        <thead>
        <tr>
            <th scope="col" class="font-weight-bold">Name</th>
            <th scope="col">Slot</th>
            <th scope="col">Stamina</th>
            <th scope="col">Strength</th>
            <th scope="col">Attack</th>
            <th scope="col">Defence</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
         <th:block th:each="item: ${allItems}">
	        <tr>
	            <td><span th:text="${item.hero.name}"></span></td>
	            <td><span th:text="${item.item.slot}"></span></td>
	            <td><span th:text="${item.item.attack}"></span></td>
	            <td><span th:text="${item.item.defence}"></span></td>
	            <td><span th:text="${item.item.stamina}"></span></td>
	            <td><span th:text="${item.item.strength}"></span></td>
	            <td>
	                <form th:action="@{/items/merchant/} + ${item.item.name}" method="post">
	                <button class="btn btn-info">Buy</button>
	                </form>
	            </td>
	        </tr>
        </th:block>
        </tbody>
    </table>
</main>

   <th:block th:include="~{fragments/footer}"></th:block>
   
</body>
</html>