<th:block fragment>

<th:block th:if="${hero == 'null'}">
	<header>
        <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
            <a class="navbar-brand text-white h4" href="/home">Heroes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <ul class="navbar-nav row">
                    
                    <li class="nav-item mr-2">
                        <a class="nav-link text-white active h5" href="/items/merchant">Merchant</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link text-white active h5" href="/items/create">Create Item</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link text-white active h5" href="/users/profile">Profile</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link text-white active h5" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</th:block>
	<th:block th:unless="${hero == 'null'}">
	
		<header>
		     <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
		          <a class="navbar-brand text-white h4" th:href="@{/home}">Heroes</a>
		          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
		                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		              <span class="navbar-toggler-icon"></span>
		          </button>
		          <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
		              <ul class="navbar-nav row">
		                  
		                  <li class="nav-item mr-2">
		                      <a class="nav-link text-white active h5" th:href="@{/items/merchant}">Merchant</a>
		                  </li>
		                  <li class="nav-item mr-2">
		                      <a class="nav-link text-white active h5" th:href="@{/items/create}">Create Item</a>
		                  </li>
		                  <li class="nav-item mr-2">
		                      <a class="nav-link text-white active h5" th:href="@{/heroes/details/} + ${hero}">Hero</a>
		                  </li>
		                  <li class="nav-item mr-2">
		                      <a class="nav-link text-white active h5" th:href="@{/users/profile}">Profile</a>
		                  </li>
		                  <li class="nav-item mr-2">
		                      <a class="nav-link text-white active h5" th:href="@{/logout}">Logout</a>
		                  </li>
		              </ul>
		          </div>
		      </nav>
		</header>
		
	</th:block>
</th:block>