<th:block th:if="${session.user == null}"   fragment>

	<header>
        <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
            <a class="navbar-brand text-white h4" th:href="@{/}">Heroes</a>
           
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <ul class="navbar-nav row">
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" th:href="@{/users/login}">Login</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" th:href="@{/users/register}">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</th:block>

<th:block th:if="${session.user != null && session.hero == null}" fragment>

	<header>
        <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
            <a class="navbar-brand text-white h4" th:href="@{/home}">Heroes</a>
            
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <ul class="navbar-nav row">
                    <li class="nav-item mr-2">
                        <a class="nav-link text-white active h5" th:href="@{/heroes/create}">Create hero</a>
                    </li>
                    
                    <li class="nav-item mr-2">
                        <a class="nav-link text-white active h5" th:href="@{/items/create}">Create Item</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link text-white active h5" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</th:block>

<th:block th:if="${session.user != null && session.hero != null}" fragment>

	<header>
        <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
            <a class="navbar-brand text-white h4" th:href="@{/home}">Heroes</a>
          
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <ul class="navbar-nav row">
                    
                    <li class="nav-item mr-2">
                        <a class="nav-link text-white active h5" th:href="@{/items/merchant}">Merchant</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link text-white active h5" th:href="@{/items/create}">Create Item</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link text-white active h5" th:href="@{/heroes/details/} + ${session.hero.name}">Hero</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link text-white active h5" th:href="@{/users/profile}">Profile</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link text-white active h5" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</th:block>











